#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_build:
# 	set -ex; for python in $(shell py3versions -r); do \
# 		$$python setup.py build ; \
# 	done

# Use setup.py to install the API module into the right directory.
override_dh_auto_install:
# 	# NOTE: This is for the package "nornet-api", hence the following --root parameter!
# 	set -ex; for python in $(shell py3versions -r); do \
# 		$$python setup.py install --install-layout=deb --root $(CURDIR)/debian/nornet-api ; \
# 	done

override_dh_auto_clean:
	dh_clean
	rm -rf build

# Use upstream ChangeLog for installation
override_dh_installchangelogs:
	dh_installchangelogs -k ChangeLog
