Source: melodic-nornet
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: http://www.melodic.cloud/
Build-Depends: cmake (>= 3.0) | cmake3,
               debhelper (>= 9),
               fonts-dejavu,
               fonts-noto-cjk,
               fonts-noto-hinted,
               ghostscript,
               gimp,
               graphicsmagick,
               gsfonts,
               libfile-fcntllock-perl,
               libimage-exiftool-perl
Standards-Version: 4.2.1
Vcs-Git: https://github.com/simula/melodic-nornet.git
Vcs-Browser: https://github.com/simula/melodic-nornet/tags

Package: melodic-management
Architecture: any
Depends: fail2ban,
         nornet-management,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: grub2-common,
            tshark
Description: MELODIC Management Tools
 This metapackage contains basic software for MELODIC system management.
 The software installed provides a common working environment.
 .
 See http://www.melodic.cloud for details on MELODIC!

Package: melodic-development
Architecture: any
Depends: cmake (>= 3.0) | cmake3,
         fonts-dejavu,
         fonts-noto-cjk,
         fonts-noto-hinted,
         ghostscript,
         gimp,
         graphicsmagick,
         gsfonts,
         libimage-exiftool-perl,
         melodic-management (= ${binary:Version}),
         nornet-development,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MELODIC Development Tools
 This meta-package contains basic software for MELODIC development.
 The software installed provides a common working environment.
 .
 See http://www.melodic.cloud for details on MELODIC!

Package: melodic-server
Architecture: any
Depends: melodic-management (= ${binary:Version}),
         nornet-server,
         python3,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: intel-microcode
Description: MELODIC Server
 This package contains the scripts to configure a MELODIC server.
 .
 See http://www.melodic.cloud for details on MELODIC!

Package: melodic-controller
Architecture: any
Depends: cinder-api,
         cinder-scheduler,
         glance,
         keystone,
         letsencrypt,
         mariadb-server,
         melodic-management (= ${binary:Version}),
         melodic-server (= ${binary:Version}),
         memcached,
         neutron-dhcp-agent,
         neutron-l3-agent,
         neutron-linuxbridge-agent,
         neutron-metadata-agent,
         neutron-plugin-ml2,
         neutron-server,
         nova-api,
         nova-conductor,
         nova-consoleauth,
         nova-novncproxy,
         nova-scheduler,
         openstack-dashboard,
         python-glanceclient,
         python-memcache,
         python-neutronclient,
         python-openstackclient,
         python-pymysql,
         rabbitmq-server,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: nova-placement-api
Description: MELODIC Controller
 This package contains the scripts to configure a MELODIC controller.
 .
 See http://www.melodic.cloud for details on MELODIC!

Package: melodic-storage
Architecture: any
Depends: cinder-volume,
         lvm2,
         melodic-management (= ${binary:Version}),
         melodic-server (= ${binary:Version}),
         thin-provisioning-tools,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MELODIC Storage Node
 This package contains the scripts to configure a MELODIC storage node.
 .
 See http://www.melodic.cloud for details on MELODIC!

Package: melodic-compute
Architecture: any
Depends: melodic-management (= ${binary:Version}),
         melodic-server (= ${binary:Version}),
         melodic-storage (= ${binary:Version}),
         neutron-linuxbridge-agent,
         nova-compute,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MELODIC Compute Node
 This package contains the scripts to configure a MELODIC compute node.
 .
 See http://www.melodic.cloud for details on MELODIC!

Package: melodic-desktop
Architecture: any
Depends: firefox | firefox-esr,
         kubuntu-desktop | neon-desktop | kde-standard | deepin-desktop-environment | lubuntu-desktop | ubuntu-desktop,
         melodic-management (= ${binary:Version}),
         sddm | kdm | lightdm | gdm3,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MELODIC Desktop
 This meta-package contains the scripts to configure a MELODIC desktop.
 .
 See http://www.melodic.cloud for details on MELODIC!
