Source: melodic-nornet
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: https://www.simula.no/
Build-Depends: cmake,
               debhelper (>= 9),
               fonts-dejavu,
               fonts-noto,
               fonts-noto-cjk,
               gimp,
               graphicsmagick,
               libfile-fcntllock-perl,
               libimage-exiftool-perl
Standards-Version: 4.1.4
Vcs-Git: https://github.com/simula/melodic-nornet.git
Vcs-Browser: https://github.com/simula/melodic-nornet/tags

Package: melodic-management
Architecture: any
Depends: fail2ban,
         nornet-management,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: tshark
Description: MELODIC Management Tools
 This metapackage contains basic software for MELODIC system management.
 The software installed provides a common working environment.
 .
 See https://www.simula.no for details on MELODIC!

Package: melodic-development
Architecture: any
Depends: cmake,
         fonts-dejavu,
         fonts-noto,
         fonts-noto-cjk,
         gimp,
         graphicsmagick,
         gsfonts,
         libimage-exiftool-perl,
         nornet-development,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MELODIC Development Tools
 This meta-package contains basic software for MELODIC development.
 The software installed provides a common working environment.
 .
 See https://www.simula.no for details on MELODIC!

Package: melodic-server
Architecture: any
Depends: grub2-common | grub,
         melodic-management,
         nornet-server,
         python3,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: intel-microcode
Description: MELODIC Server
 This package contains the scripts to configure a MELODIC server.
 .
 See https://www.simula.no for details on MELODIC!

Package: melodic-controller
Architecture: any
Depends: cinder-api,
         cinder-scheduler,
         glance,
         grub2-common | grub,
         keystone,
         letsencrypt,
         mariadb-server,
         melodic-management,
         melodic-server,
         memcached,
         neutron-dhcp-agent,
         neutron-l3-agent,
         neutron-linuxbridge-agent,
         neutron-metadata-agent,
         neutron-plugin-ml2,
         neutron-server,
         nova-api,
         nova-conductor,
         nova-consoleauth,
         nova-novncproxy,
         nova-placement-api,
         nova-scheduler,
         openstack-dashboard,
         python-glanceclient,
         python-memcache,
         python-neutronclient,
         python-openstackclient,
         python-pymysql,
         rabbitmq-server,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MELODIC Controller
 This package contains the scripts to configure a MELODIC controller.
 .
 See https://www.simula.no for details on MELODIC!

Package: melodic-storage
Architecture: any
Depends: cinder-volume,
         grub2-common | grub,
         lvm2,
         melodic-management,
         melodic-server,
         thin-provisioning-tools,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MELODIC Storage Node
 This package contains the scripts to configure a MELODIC storage node.
 .
 See https://www.simula.no for details on MELODIC!

Package: melodic-compute
Architecture: any
Depends: grub2-common | grub,
         melodic-management,
         melodic-server,
         melodic-storage,
         neutron-linuxbridge-agent,
         nova-compute,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MELODIC Compute Node
 This package contains the scripts to configure a MELODIC compute node.
 .
 See https://www.simula.no for details on MELODIC!

Package: melodic-desktop
Architecture: any
Depends: melodic-management,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: neon-desktop | kubuntu-desktop | lubuntu-desktop | ubuntu-desktop
Description: MELODIC Desktop
 This meta-package contains the scripts to configure a MELODIC desktop.
 .
 See https://www.simula.no for details on MELODIC!
